<div class="row pad-top-25">
  <div class="col-md-6 col-md-offset-1">
    <div class="well">
      <h1>Look Up Your Local Forecast</h1>
      <p>What's the weather like in your city?</p>
      <div>
        <%= form_tag index_path do %>
          <%= text_field_tag :city, nil, placeholder: "City", class: "form-control" %>
          <br>
          <%= select_tag :state, options_for_select(@states), prompt: "Select State" %>
          <br><br>
          <%= submit_tag "Check Weather", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row pad-top-50">
  <div class='col-md-3'>
  <aside id='city-list'>
    <h4>Previous Cities</h4>
    <dt>
      <% @locations.each do |location| %>
        <dd>
          <%= link_to "#{location.city}", root_path(city: location.city, state: location.state) %>
        </dd>
      <% end %>
    </dt>
  </aside></div>
  <div class="col-md-6 col-md-offset-1">
    <div class="well center-it">
      <% if @city != nil && @city != "" && (@error == "" || @error == nil) %>
        <h1>Forecast for <%= @city %>,&nbsp;<%= @state %></h1>
        <div class="row">
          <div class="col-md-7">
            <p><em>What's the weather like?</em></p>
            <p>Temperature is: <%= @temp_f %>° / <%= @temp_c %>° </p>
            <p>Feels like: <%= @real_feel_f %>°</p>
          </div>
          <div class="col-md-5">
            <p><%= @weather_words %> <%= image_tag @weather_icon %></p>
            <p><%= link_to "Full Forecast", @forecast_link, target: "_blank" %></p>
          </div>
        </div>
      <% else %>
        <p>Error: Please enter a valid request. <%= @error %> </p> 
      <% end %>
    </div>
  </div>
</div>